* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #24282f;
}

.container{
    max-width: 1094px;
    margin: auto;
}

.logo{
    float: left;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
header ul {
    float: right;
}
header ul li{
    display: inline-block;
    margin-left: 52px;
}

header ul li a{
    color: #d8d9da;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 35px;
    border-bottom: transparent solid 2px;
    padding-right: 10px;
    padding-left: 10px;
}

header ul li a:hover{
    border-bottom: #b5a263 solid 2px;
    transition: 0.3s;
}
.background {
    background-image: url("../images/background.png");
    padding-top: 70px;
    padding-bottom: 85px;
}

.background h1 {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 19px;
}
.background p {
    font-size: 11px;
    color: white;
}

.content {
    max-width: 888px;
    margin: auto;
}

.content h2 {
    font-size: 19px;
    color: #24282f;
    text-transform: uppercase;
    text-align: center;
    margin-top: 122px;
    padding-bottom: 22px;
}

.content h2:after {
    content: "";
    width: 61px;
    background-color: #b5a263;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 22px;
}



.user {
    float: left;
    margin-right: 75px;
}

.user:last-of-type {
    margin-right: 0;
}
.content:after {
    content: "";
    clear: both;
    display: block;
}

.user div {
    font-size: 12px;
    color: #24282f;
}

.user div span {
    font-size: 11px;
    color: #b5a263;
    display: block;
}

.user div a i {
    font-size: 13px;
    color: #dedede;
    position: relative;
    top: -20px;
    float: right;
    margin-right: 7px;
}