* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #24282f;
}

.container{
    max-width: 1094px;
    margin: auto;
}

.logo{
    float: left;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
header ul {
    float: right;
}
header ul li{
    display: inline-block;
    margin-left: 52px;
}

header ul li a{
    color: #d8d9da;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 35px;
    border-bottom: transparent solid 2px;
    padding-right: 10px;
    padding-left: 10px;
}

header ul li a:hover{
    border-bottom: #b5a263 solid 2px;
    transition: 0.3s;
}
.background {
    background-image: url("../images/background.png");
    padding-top: 70px;
    padding-bottom: 85px;
}

.background h1 {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 19px;
}
.background p {
    font-size: 11px;
    color: white;
}

.content {
    max-width: 888px;
    margin: auto;
    margin-bottom: 35px;
}

.content h2 {
    font-size: 19px;
    color: #24282f;
    text-transform: uppercase;
    text-align: center;
    margin-top: 122px;
    padding-bottom: 22px;
}

.content h2:after {
    content: "";
    width: 61px;
    background-color: #b5a263;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 22px;
}



.user {
    float: left;
    margin-right: 75px;
}

.user:last-of-type {
    margin-right: 0;
}
.content:after {
    content: "";
    clear: both;
    display: block;
}

.user div {
    font-size: 12px;
    color: #24282f;
}

.user div span {
    font-size: 11px;
    color: #b5a263;
    display: block;
}

.user div a i {
    font-size: 13px;
    color: #dedede;
    position: relative;
    top: -20px;
    float: right;
    margin-right: 7px;
}

.container .owl-carousel h3 {
    text-align: center;
    font-size: 19px;
    color: #24282f;
    padding-bottom: 21px;
}
.container .owl-carousel h3:after {
    content: "";
    width: 61px;
    background-color: #24282f;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 22px;
}

.owl-carousel div p {
    max-width: 683px;
    font-size: 11px;
    color: #000000;
    text-align: center;
    margin: auto;
    padding-bottom: 36px;
}
.owl-carousel .owl-item img{
    width: auto;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
.owl-carousel div h4 {
    font-size: 13px;
    color: #b5a263;
    text-align: center;
}

.owl-carousel div h5 {
    text-align: center;
    font-size: 11px;
    color: #000000;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
    display: block;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 137px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 137px;

}


.button {
    margin: auto;
    color: #24282f;
    text-transform: uppercase;
    border: #24282f 1px solid;
    border-radius: 25px;
    outline: none;
    text-decoration: none;
    user-select: none;
    display: block;
    text-align: center;
    height: 20px;
    width: 70px;
    padding: 15px 30px;
    font-size: 13px;
    margin-bottom: 25px;
}